body{
    margin:0;
    padding: 0;
}

.logo{
    width: 40px;
    height: 40px;
    border: 1px solid;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    padding-top: 10px;
}

nav .menu ul{
    list-style: none;
    margin-top: 0;

}

nav .menu ul li{
    display: inline-block;

}

.btn{
    background-color: grey;
    padding: 5px;
    width: 100px;
    text-align: center;
    cursor: pointer;
}

.btn:hover{
    background-color: aliceblue;
}

.btn-deconnexion div{
    display: inline-block;
}

.btn-deconnexion span{
    display: inline-block;
    position: relative;
    bottom: 17px;
}

.form-recherche{
    margin-right: 200px;
    margin-top: 43px;
    margin-bottom:43px;
    display: flex;
    justify-content: flex-end;
}

.form-recherche form{
   position: relative;
   left: 60px;
}

input{
    height: 25px;
}

.tab-content{
    margin-left: 90px;
}

.tab-content table{
    border: 1px solid;
    box-shadow: 10px 5px 5px black;
    width: auto;
    border-collapse: collapse;
}

.tab-content table thead{
    background-color: grey;

}

.tab-content table td{
    padding: 5px 45px;
    
}

.btn-place{
    margin-top: 20px;
    margin-right: 250px;
    display: flex;
    justify-content: center;
}

.btn-place .btn-place-tel{
    position: relative;
    right: 10px;
}

.text-main{
    color: #red;
}